<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whc.aip.storage.dao.common.DoorGuardMapper" >

    <resultMap id="BaseResultMap" type="com.whc.aip.storage.model.common.DoorGuard" >
        <result column="doorId" property="doorId" jdbcType="VARCHAR" />
        <result column="deviceNo" property="deviceNo" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>
    <select id="getDoorGuardList" resultMap="BaseResultMap">
      select  d.door_id as "doorId",
		        		d.device_no as "deviceNo",
		        		w.waho_name as "name"
				from weigate_door d
				 left join  whc_warehouse w on w.waho_id = d.comm_id
				where d.door_isdel = '0'
				and d.comm_id in (
				    select distinct w.waho_id
				    from whc_warehouse_cell wc
				    left join  whc_warehouse w on w.waho_id = wc.waho_id
				    where w.waho_status = '2'
				    and  wc.wahoce_id in (select o.wahoce_id from whc_order o where o.member_id=#{memberId} and o.order_status = '1')
				)

    </select>

</mapper>