<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whc.aip.storage.dao.member.MemberMapper" >
  <resultMap id="BaseResultMap" type="com.whc.aip.storage.model.member.Member" >
    <id column="MEMBER_ID" property="id" jdbcType="VARCHAR" />
    <result column="MEMBER_NAME" property="name" jdbcType="VARCHAR" />
    <result column="MEMBER_PHOTO" property="photo" jdbcType="VARCHAR" />
    <result column="MEMBER_NICKNAME" property="nickName" jdbcType="VARCHAR" />
    <result column="MEMBER_ADDR" property="addr" jdbcType="VARCHAR" />
    <result column="MEMBER_TEL" property="tel" jdbcType="VARCHAR" />
    <result column="MEMBER_EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="MEMBER_REGDATE" property="regDate" jdbcType="VARCHAR" />
    <result column="MEMBER_ISDEL" property="isDel" jdbcType="VARCHAR" />
    <result column="MEMBER_SEX" property="sex" jdbcType="VARCHAR" />
    <result column="MEMBER_MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="OPEN_ID" property="openId" jdbcType="VARCHAR" />
    <result column="MEMBER_WEIGATE_STATUS" property="weigateStatus" jdbcType="VARCHAR" />
    <result column="MEMBER_STATUS" property="status" jdbcType="VARCHAR" />
    <result column="MEMBER_SOURCE" property="source" jdbcType="VARCHAR" />
    <result column="MEMBER_IS_SUB" property="isSub" jdbcType="VARCHAR" />
    <result column="MEMBER_CERT_TYPE" property="certType" jdbcType="VARCHAR" />
    <result column="MEMBER_ID_NUMBER" property="idNumber" jdbcType="VARCHAR" />
    <result column="WAHO_ID" property="wahoId" jdbcType="VARCHAR" />
    <result column="MEMBER_AGAIN_TIME" property="againTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    MEMBER_ID, MEMBER_NAME, MEMBER_PHOTO, MEMBER_NICKNAME, MEMBER_ADDR, MEMBER_TEL, MEMBER_EMAIL, 
    MEMBER_REGDATE, MEMBER_ISDEL, MEMBER_SEX, MEMBER_MEMO, OPEN_ID, MEMBER_WEIGATE_STATUS, 
    MEMBER_STATUS, MEMBER_SOURCE, MEMBER_IS_SUB, MEMBER_CERT_TYPE, MEMBER_ID_NUMBER, 
    WAHO_ID, MEMBER_AGAIN_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from WHC_MEMBER
    where MEMBER_ID = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.whc.aip.storage.model.member.Member" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into WHC_MEMBER (MEMBER_ID, MEMBER_NAME, MEMBER_PHOTO, 
      MEMBER_NICKNAME, MEMBER_ADDR, MEMBER_TEL, 
      MEMBER_EMAIL, MEMBER_REGDATE, MEMBER_ISDEL, 
      MEMBER_SEX, MEMBER_MEMO, OPEN_ID, 
      MEMBER_WEIGATE_STATUS, MEMBER_STATUS, MEMBER_SOURCE, 
      MEMBER_IS_SUB, MEMBER_CERT_TYPE, MEMBER_ID_NUMBER, 
      WAHO_ID, MEMBER_AGAIN_TIME)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{regDate,jdbcType=VARCHAR}, #{isDel,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, 
      #{weigateStatus,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{isSub,jdbcType=VARCHAR}, #{certType,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR}, 
      #{wahoId,jdbcType=VARCHAR}, #{againTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.whc.aip.storage.model.member.Member" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into WHC_MEMBER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      MEMBER_ID,
      <if test="name != null" >
        MEMBER_NAME,
      </if>
      <if test="photo != null" >
        MEMBER_PHOTO,
      </if>
      <if test="nickName != null" >
        MEMBER_NICKNAME,
      </if>
      <if test="addr != null" >
        MEMBER_ADDR,
      </if>
      <if test="tel != null" >
        MEMBER_TEL,
      </if>
      <if test="email != null" >
        MEMBER_EMAIL,
      </if>
      <if test="regDate != null" >
        MEMBER_REGDATE,
      </if>
      <if test="isDel != null" >
        MEMBER_ISDEL,
      </if>
      <if test="sex != null" >
        MEMBER_SEX,
      </if>
      <if test="memo != null" >
        MEMBER_MEMO,
      </if>
      <if test="openId != null" >
        OPEN_ID,
      </if>
      <if test="weigateStatus != null" >
        MEMBER_WEIGATE_STATUS,
      </if>
      <if test="status != null" >
        MEMBER_STATUS,
      </if>
      <if test="source != null" >
        MEMBER_SOURCE,
      </if>
      <if test="isSub != null" >
        MEMBER_IS_SUB,
      </if>
      <if test="certType != null" >
        MEMBER_CERT_TYPE,
      </if>
      <if test="idNumber != null" >
        MEMBER_ID_NUMBER,
      </if>
      <if test="wahoId != null" >
        WAHO_ID,
      </if>
      <if test="againTime != null" >
        MEMBER_AGAIN_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=VARCHAR},
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="regDate != null" >
        #{regDate,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="weigateStatus != null" >
        #{weigateStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="isSub != null" >
        #{isSub,jdbcType=VARCHAR},
      </if>
      <if test="certType != null" >
        #{certType,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null" >
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="wahoId != null" >
        #{wahoId,jdbcType=VARCHAR},
      </if>
      <if test="againTime != null" >
        #{againTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whc.aip.storage.model.member.Member" >
    update WHC_MEMBER
    <set >
      <if test="name != null" >
        MEMBER_NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        MEMBER_PHOTO = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        MEMBER_NICKNAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        MEMBER_ADDR = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        MEMBER_TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        MEMBER_EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="regDate != null" >
        MEMBER_REGDATE = #{regDate,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        MEMBER_ISDEL = #{isDel,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        MEMBER_SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMBER_MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        OPEN_ID = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="weigateStatus != null" >
        MEMBER_WEIGATE_STATUS = #{weigateStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        MEMBER_STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        MEMBER_SOURCE = #{source,jdbcType=VARCHAR},
      </if>
      <if test="isSub != null" >
        MEMBER_IS_SUB = #{isSub,jdbcType=VARCHAR},
      </if>
      <if test="certType != null" >
        MEMBER_CERT_TYPE = #{certType,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null" >
        MEMBER_ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="wahoId != null" >
        WAHO_ID = #{wahoId,jdbcType=VARCHAR},
      </if>
      <if test="againTime != null" >
        MEMBER_AGAIN_TIME = #{againTime,jdbcType=VARCHAR},
      </if>
    </set>
    where MEMBER_ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whc.aip.storage.model.member.Member" >
    update WHC_MEMBER
    set MEMBER_NAME = #{name,jdbcType=VARCHAR},
      MEMBER_PHOTO = #{photo,jdbcType=VARCHAR},
      MEMBER_NICKNAME = #{nickName,jdbcType=VARCHAR},
      MEMBER_ADDR = #{addr,jdbcType=VARCHAR},
      MEMBER_TEL = #{tel,jdbcType=VARCHAR},
      MEMBER_EMAIL = #{email,jdbcType=VARCHAR},
      MEMBER_REGDATE = #{regDate,jdbcType=VARCHAR},
      MEMBER_ISDEL = #{isDel,jdbcType=VARCHAR},
      MEMBER_SEX = #{sex,jdbcType=VARCHAR},
      MEMBER_MEMO = #{memo,jdbcType=VARCHAR},
      OPEN_ID = #{openId,jdbcType=VARCHAR},
      MEMBER_WEIGATE_STATUS = #{weigateStatus,jdbcType=VARCHAR},
      MEMBER_STATUS = #{status,jdbcType=VARCHAR},
      MEMBER_SOURCE = #{source,jdbcType=VARCHAR},
      MEMBER_IS_SUB = #{isSub,jdbcType=VARCHAR},
      MEMBER_CERT_TYPE = #{certType,jdbcType=VARCHAR},
      MEMBER_ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
      WAHO_ID = #{wahoId,jdbcType=VARCHAR},
      MEMBER_AGAIN_TIME = #{againTime,jdbcType=VARCHAR}
    where MEMBER_ID = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="getMemberIdMap" type="com.whc.aip.storage.model.member.Member">
    <result column="id" property="id" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getMemberId" resultMap="getMemberIdMap">
    select m.member_id as "id" from whc_member m where m.open_id = #{openId}
  </select>
</mapper>